@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Righteous&family=Sarala:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: "Parkinsans";
}

body {
    background-image: url(panda.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-decoration: solid;
}

.content h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    
}

.content p {
    font-size: 1rem; /* Tamanho do texto menor */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 2rem;
    line-height: 1.5; /* Melhor espaçamento entre as linhas */
}

button {
    display: inline-block;
    padding: 0.7rem 1rem;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    background-color: rgb(246, 104, 206);
    text-decoration: solid;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: "Parkinsans";
    text-shadow: 0.5px 0.5px 0.5px black;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}